:root{
  --gm-olive: #4F6F52;
  --gm-olive-hover: #3F5C43;
  --gm-olive-pressed: #334B37;
  --gm-terracotta: #C26D4A;
  --gm-charcoal: #2E2E2E;
  --gm-sand: #F5F3EF;
  --gm-white: #FFFFFF;
  --gm-gray-100: #DADADA;
  --gm-gray-600: #6B6B6B;
  --gm-success: #2E7D32;
  --gm-warning: #B7791F;
  --gm-error: #C0392B;
  --gm-info: #2F6F8F;
  --gm-olive-50: #F0F3F1;
  --gm-olive-100: #E2E7E3;
  --gm-olive-200: #CAD3CB;
  --gm-olive-300: #AFBEB1;
  --gm-olive-400: #91A593;
  --gm-olive-500: #4F6F52;
  --gm-olive-600: #4A654C;
  --gm-olive-700: #455C47;
  --gm-olive-800: #415543;
  --gm-olive-900: #3C4B3E;
  --gm-terracotta-50: #FAF3F0;
  --gm-terracotta-100: #F5E7E2;
  --gm-terracotta-200: #ECD3C8;
  --gm-terracotta-300: #E3BDAD;
  --gm-terracotta-400: #D9A48E;
  --gm-terracotta-500: #C26D4A;
  --gm-terracotta-600: #AB6345;
  --gm-terracotta-700: #985B42;
  --gm-terracotta-800: #86533E;
  --gm-terracotta-900: #704A3A;
  --gm-charcoal-50: #EEEEEE;
  --gm-charcoal-100: #DDDDDD;
  --gm-charcoal-200: #C0C0C0;
  --gm-charcoal-300: #A0A0A0;
  --gm-charcoal-400: #7D7D7D;
  --gm-charcoal-500: #2E2E2E;
  --gm-charcoal-600: #2E2E2E;
  --gm-charcoal-700: #2E2E2E;
  --gm-charcoal-800: #2E2E2E;
  --gm-charcoal-900: #2E2E2E;
}
